{{ $links := .Site.Params.links }}
<footer class="row d-print-none">
	<div class="container-fluid mx-sm-3">
		<div class="d-flex flex-column flex-lg-row mb-4">
			<div class="logo-and-hub">
				<a class="logo" title="TODO website" href="https://todogroup.org/">
					<span>{{ if .Site.Params.ui.navbar_logo }}
						{{ with resources.Get "icons/logo-white.svg" }}
						{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span>
				</a>
				<div class="d-flex justify-content-center d-lg-none">
					{{ if (gt (len .Site.Home.Translations) 0) }}
					{{ partial "navbar-lang-selector.html" . }}
					{{ end }}
				</div>
				<div class="horizontal-rule d-lg-none mt-4 mb-4"></div>
			</div>
		</div>
		<div class="horizontal-rule d-none d-lg-block mb-4"></div>
		<div class="copyright py-2 order-sm-2">
			<small>
				&copy; {{ now.Year}} TODO Glossary Authors |
				Documentation Distributed under CC BY 4.0</small>
			{{ if not .Site.Params.ui.footer_about_disable }}
			{{ with .Site.GetPage "about" }}
			<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
			{{ end }}
			{{ end }}
		</div>
	</div>
</footer>